<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
    <mat-panel-title>inspectionNumber</mat-panel-title>
    <mat-panel-title>proponentCpfCnpj</mat-panel-title>
    <mat-panel-title>proponentName</mat-panel-title>
    <mat-panel-title>postalCode</mat-panel-title>
    <mat-panel-title>addressComplement</mat-panel-title>
    <mat-panel-title>analystObservation</mat-panel-title>
    <mat-panel-title>Sep 14, 2023</mat-panel-title>
    <mat-panel-title>Sep 14, 2023</mat-panel-title>
    <mat-panel-title>Sep 14, 2023</mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
